version: '3.3'

services:

  mysql-site2:
    build:
      context: ${PWD}/mysql
    container_name: mysql-site2
    environment:
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_CHARSET: ${MYSQL_CHARSET}
    ports:
    - 3307:3306/tcp
    restart: always
    volumes:
    - ${VOL_MYSQL}/log:/var/log/mysql:rw
    - ${VOL_MYSQL}/data:/var/lib/mysql:rw
    - ${VOL_MYSQL}/dumps:/var/dumps:rw
    networks:
      - net_front

  wordpress-site2:
    build:
      context: ${PWD}/wordpress
      dockerfile: Dockerfile
    container_name: wordpress-site2
    environment:
      DB_HOST: ${MYSQL_HOST}
      DB_NAME: ${MYSQL_DATABASE}
      DB_PASSWORD: ${MYSQL_PASSWORD}
      DB_USER: ${MYSQL_USER}
      WP_DEBUG: ${WP_DEBUG}
      WP_CACHE: ${WP_CACHE}
    links:
    - mysql-site2
    restart: always
    volumes:
    - "${VOL_WORDPRESS}/apache2/log:/var/log/apache2:rw"
    - "${VOL_WORDPRESS}/wp-content/cache:/var/www/html/wp-content/cache:rw"
    - "${VOL_WORDPRESS}/wp-content/languages:/var/www/html/wp-content/languages:rw"
    - "${VOL_WORDPRESS}/wp-content/uploads:/var/www/html/wp-content/uploads:rw"
    networks:
      - net_front

  pma-site2:
    container_name: pma-site2
    image: phpmyadmin/phpmyadmin:4.8
    depends_on:
      - mysql-site2
    environment:
      PMA_HOST: ${PMA_HOST}
      PMA_ABSOLUTE_URI: ${PMA_ABSOLUTE_URI}
    restart: always
    networks:
      - net_front

  sftp-site2:
    command: "mpusr:tr54-1g9zz:33"
    container_name: sftp-site2
    image: atmoz/sftp:alpine-3.7
    ports:
    - "2223:22/tcp"
    restart: always
    volumes:
    - "${VOL_WORDPRESS}/apache2/log:/home/mpusr/apache2/log:rw"
    - "${VOL_WORDPRESS}/wp-content/uploads:/home/mpusr/apache2/uploads:rw"
    networks:
      - net_front

networks:
  net_front:
    external: true
